html {
    scroll-behavior: smooth;
  }
.navcolor{
    background-color: rgb(61, 150, 156);
    
}

.psize{
    font-size: 20px;
}
.hovcolor a:hover{
    background-color: rgb(24, 14, 14);
}
li a{
    margin: 0 30px;
   
   
}
.row-content{
    margin: 0px auto;
    padding: 90px 0px 90px 0px;

}
.row-header{
    margin:0px auto;
    padding: 0px auto;
}
.jumbotron{
    background-color: white;
}
.iconpad{
    padding-left: 3em;
}
.box-shadow-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(175, 56, 56, 0.16), 0 2px 10px 0 rgba(165, 51, 51, 0.12);
  }
  
  .pointer {
    cursor: pointer;
  }
  
  img {
    width: auto;
    max-height: 100px;
  }
  .imgcer{
    width: auto;
    max-height: 300%;
  }

 
  